# ---- API (for GitHub event webhook)

# IP address to listen on
# 
# set to 0.0.0.0 to listen on all addresses
#
# Default: 127.0.0.1
#
#PVE_SCALESET__API__LISTEN_HOST=127.0.0.1

# Port to listen on
#
# Default: 6175
#
#PVE_SCALESET__API__LISTEN_PORT=6175


# ---- PVE

# - Access

# PVE cluster/node API endpoint
PVE_SCALESET__PVE__HOST_URL="https://pve_node.example.com:8006"

# PVE API token ID
PVE_SCALESET__PVE__TOKEN_ID="githubci@pve!scaleset_handler"

# PVE API token secret
PVE_SCALESET__PVE__TOKEN_SECRET="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Name of PVE node which hosts the template VM (runners will also be deployed here)
PVE_SCALESET__PVE__NODE="pvenode1"

# - Template/Runners

# VMID of runner template VM
PVE_SCALESET__PVE__TEMPLATE_VMID=4999

# VMID range to use for deployed runners - min
#
# Default: 5000
#
#PVE_SCALESET__PVE__RUNNER_VMID_MIN=5000

# VMID range to use for deployed runners - max
#
# Default: 5999
#
#PVE_SCALESET__PVE__RUNNER_VMID_MAX=5999

# Prefix used in name of runner vm
#
# Full vm name is of the form: `{prefix}{vmid}`
#
# Default: `github-runner-`
#
#PVE_SCALESET__PVE__RUNNER_NAME_PREFIX='github-runner-'

# Optional pool to assign deployed runners to
#PVE_SCALESET__PVE__RUNNER_POOL=

# - Cloud config template

# Name of PVE storage containing snippets
#
# Default: 'local'
#PVE_SCALESET__PVE__SNIPPETS_STORAGE="local"

# Filename of template for generated cloud init config
PVE_SCALESET__PVE__SNIPPETS_TEMPLATE_NAME="ci-runner-template.yml"

# Local directory containing the PVE storage snippets
#
# This must be writeable + write through to the actual snippets storage in use by the node
#
# Supported configurations:
# - running on bare metal: the PVE snippets path, no mapping required 
# - running in LXC on same node (or shared storage): the path of the LXC mount point
# - elsewhere (snippets dir shared via NFS or similar): local path of (mounted) snippets dir 
#
PVE_SCALESET__PVE__SNIPPETS_LOCAL_DIR=/mnt/snippets

# - VM reaper

# VM reaper frequency (in seconds)
#
# Default: 60
#
#PVE_SCALESET__PVE__REAP_INTERVAL=60

# Enables dry run for VM reaper. logs decisions but doesn't destroy VMs
#
# Default: false
#
#PVE_SCALESET__PVE__REAP_DRYRUN=false


# ---- GitHub

# GitHub token used to register runners to the triggering repo
PVE_SCALESET__GITHUB__TOKEN=github_pat_xxxx

# Webhook secret
PVE_SCALESET__GITHUB__WEBHOOK_SECRET=xxxx

# Optional comma-separated list of repository owners (name of org/user)
#
# Used to restrict where provisioning can be triggered from. E.g. guard provisioning from forks
#
# If unset, there is no restriction
#
# WARNING: if set, but empty, no provisions will occur
#
#PVE_SCALESET__GITHUB__REPO_OWNERS=

# Label that must be set on a job to consider provisioning a runner for it
#
# This must be set to a label that GitHub-hosted runners don't use in order to prevent
# provisioning of runners for jobs that GitHub will run
#
# Default: self-hosted
#
#PVE_SCALESET__GITHUB__REQUIRED_LABEL=self-hosted

# Comma-separated list of labels to assign to the provisioned runners
#
# MUST contain the above 'required label'
#
# Default: self-hosted,proxmox,ephemeral,linux,x64
#
#PVE_SCALESET__GITHUB__RUNNER_LABELS=self-hosted,proxmox,ephemeral,linux,x64